:root {
    --body-background-color: #c5c1c1;
    --background-color: rgba(255, 255, 255, 0.97);

    --primary-color: #42b883;
    --primary-color-hover: #93bd21;

    --secondary-color: #0c478a;
    --secondary-color-hover: #2b5d5d;

    --primary-font-color: #333;
    --primary-font-color-hover: #011b05;
    --primary-font-size: 1.5em;
    --primary-font-weight: 400;
    --primary-font-weight-hover: 500;
    --primary-letter-spacing: 1.2px;

    --secondary-font-color: #0036e9;
    --secondary-font-color-hover: #2b5d5d;
    --secondary-font-size: 18px;
    --secondary-font-weight: 400;
    --secondary-font-weight-hover: 600;
    --secondary-letter-spacing: 1px;

    --font-color: #412e2e;

    --font-p-color: #000000;
    --font-p-color-hover: #1eff00;
    --font-p-size: 16px;
    --font-p-weight: 500;
    --font-p-letter-spacing: 1px;

    --std-border-radius: 8px;
    --std-border-color: #333;
    --std-border-color-hover: #93bd21;
    --std-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    --std-box-shadow-hover: 0px 2px 10px rgba(170, 153, 3, 0.473);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    font-weight: 400;
    background-color: var(--body-background-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    z-index: 10;
    width: 100%;
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
header .colgante {
    margin-right: 75px;
    width: 5px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    background-color: var(--primary-color);
}
#cartBtn {
    position: absolute;
    top: 30px;
    width: 45px;
    height: 45px;
    padding: 5px;
    background-color:rgba(255, 255, 255, 0.562);
    border-radius: 100%;
    border: 1px solid var(--std-border-color);
    box-shadow: var(--std-box-shadow);
    transition: all 0.5s ease;
}
#cartBtn:hover {
    transform: scale(1.1);
}
#cartBtn img {
    padding: 2px;
    width: 30px;
    height: 30px;
}
#cartCount {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
}
main {
    width: 100%;
    max-width: 1440px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    background: var(--background-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
}

/*  animacion de scroll */
section div{
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 20%;
    animation-fill-mode: both;
}
li{
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 20%;
    animation-fill-mode: both;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}

/* fuente */

h1{
    color: white;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1.5px;
}
h2{
    color: white;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

button {
    height: 40px;
    padding: 10px;
    font-size:14px;
    font-weight:600;
    color:var(--primary-color);
    background-color:white;
    border: 1px solid var(--std-border-color);
    border-radius:8px;
    box-shadow: var(--std-box-shadow);
    transition: all 0.5s ease;
}

button:hover {
    background-color: var(--primary-color-hover);
    color: white;
    border-color: var(--std-border-color-hover);
    box-shadow: var(--std-box-shadow-hover);
}
input{
    height: 40px;
    padding: 10px;
    font-size:14px;
    font-weight:600;
    color:var(--primary-color);
    background-color:white;
    border: 1px solid var(--std-border-color);
    border-radius:8px;
    box-shadow: var(--std-box-shadow);
    transition: all 0.5s ease;
}
input:hover{
    border-color: var(--std-border-color-hover);
    box-shadow: var(--std-box-shadow-hover);
    scale: 1.05;
}

/* main */
#status{
    width: 100%;
    height: 25px;
    padding: 3px;
    text-align: center;
    box-shadow: var(--std-box-shadow);
    background-color: var(--background-color);
}
#status.open{
    color: green;
}
#status.closed{
    color: red;
}

/* company */

#companyHeader{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
#companyHeader .companyHeaderContent{
    background-color: #00000062;

    width: 100%;
    height: 100%;
    min-height: 40vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
#companySocialNetworks{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
}
#companySocialNetworks li{
    padding: 3px;
    border-radius: 100%;
    border:1px solid #00000063;
    background-color: white;
    box-shadow: var(--std-box-shadow);
}
#companySocialNetworks li:hover{
    box-shadow: var(--std-box-shadow-hover);
}
#companySocialNetworks img{
    padding: 3px;
    width: 30px;
    height: 30px;
}

.companyHeaderTxt{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 10px;
}
.companyHeaderTxt h1{
    width: 100%;
    margin-left: 100px;
}
.companyHeaderTxt h2{
    width: 100%;
    margin-left: 100px;

}
#companyHeaderLogo{
    width: 75px;
    height: 75px;

    border-radius: 100%;
    padding: 2px;
    background-color: white;
    border-color: 1px solid black;
}

/* productsContent */

#productsContent{
    width: 100%;

    display: flex;
    flex-direction: column;
}
#productsContent h2{
    color: black;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1.5px;

}
#productsContentNav{
    width: 100%;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    box-shadow: var(--std-box-shadow);
}
#productsContentNav a{
    min-width: 100px;
    text-align: center;
    padding: 5px;
    border-radius: 8px;
    background-color: rgba(128, 128, 128, 0.164);
    color:var(--primary-font-color);

    transition: all 0.5s ease;
}
#productsContentNav a:hover{
    background-color:var(--primary-color-hover);
    color: var(--primary-font-color-hover);
    font-weight: var(--primary-font-weight-hover);
}
#typeContent{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#typeContent li{
    width: 100%;
}

#filters{
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
#filters input{
    width: 100%;
    max-width: 400px;
    height: 35px;
    padding: 5px;
    border-radius: 8px;
}

#typeContent ol{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#typeContent .product-card{
    width: 95%;
    max-width: 400px;
    height: 150px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    box-shadow: var(--std-box-shadow);

    transition: all 0.5s ease;
}
#typeContent .product-card:hover{
    box-shadow: var(--std-box-shadow-hover);
}
#typeContent img{
    width: 150px;
    height: 150px;

    box-shadow: var(--std-box-shadow);
}
#typeContent .product-cardTxt{
    min-width: 175px;
    max-width: 200px;
    min-height: 100px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    text-align: center;
}
.product-cardTxt h4{
    color: grey;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
    letter-spacing: 1.05px;
    font-style: italic;
}
.product-cardTxt h5{
    width: 100%;
    text-align: center;
}
/* footer */
footer {
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

footer .firma {
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

footer p {
    color: #ccbaba;
}

footer .footerMid {
    width: 100%;
    max-width: 400px;
}

footer .ContIcons {
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

footer .ContIcons a {
    min-width: 110px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: var(--font-p-color);
    font-size: var(--font-p-size);
    font-weight: var(--font-p-weight);
    letter-spacing: var(--font-p-letter-spacing);
    border: 1px solid var(--std-border-color);
    border-radius: var(--std-border-radius);
    background: rgba(8, 58, 252, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(8, 58, 252, 0.29);
    transition: all 0.5s ease;
}

footer .ContIcons a:hover {
    color: var(--primary-color-hover);
    background: rgb(8, 106, 252);
    box-shadow: var(--std-box-shadow-hover);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(8, 58, 252, 0.29);
}

footer .ContIcons img {
    width: 25px;
    height: 25px;
}

.icon {
    width: 30px !important;
    height: 30px !important;
}

vercel-live-feedback {
    display: none !important;
}