@import url(./src/css/modal.css);

/* Variables globales */
:root {
    --body-background-color: #fcf5f5;
    --background-color: rgba(255, 255, 255, 0);
    --primary-color: #42b883;
    --primary-color-hover: #93bd21;
    --secondary-color: #0c478a;
    --secondary-color-hover: #2b5d5d;
    --primary-font-color: #333;
    --secondary-font-color: #0036e9;
    --primary-font-size: 1.5em;
    --secondary-font-size: 18px;
    --primary-font-weight: 600;
    --primary-font-weight-hover: 700;
    --secondary-font-weight: 400;
    --secondary-font-weight-hover: 600;
    --primary-letter-spacing: 1.2px;
    --secondary-letter-spacing: 1px;
    --font-color: #412e2e;
    --font-p-color: #000000;
    --font-p-color-hover: #1eff00;
    --font-p-size: 16px;
    --font-p-weight: 500;
    --font-p-letter-spacing: 1px;
    --primary-font-color-hover: #011b05;
    --std-border-radius: 8px;
    --std-border-color: #333;
    --std-border-color-hover: #93bd21;
    --std-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    --std-box-shadow-hover: 0px 2px 10px rgba(170, 153, 3, 0.473);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    font-weight: 400;
    background-color: var(--body-background-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    margin-top: 14vh;
    width: 100%;
    max-width: 1440px;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

section {
    background: var(--background-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
}
/*  animacion de scroll */

section div{
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 20%;
    animation-fill-mode: both;
}
li{
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 20%;
    animation-fill-mode: both;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
}
p {
    color: var(--font-p-color);
    font-size: var(--font-p-size);
    font-weight: var(--font-p-weight);
    letter-spacing: var(--font-p-letter-spacing);
}

/* nav */
header {
    width: 100%;
    min-height: 10vh;
    padding: 0 10px 0 0;
    position: fixed;
    top: 0;
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    box-shadow: var(--std-box-shadow);
}

.logoContainer {
    padding-left: 10px;
    width: auto;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoContainer img {
    width: auto;
    max-height: 75px;
    border-radius: var(--std-border-radius);
}

nav {
    display: none;
    padding: 10px;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 10vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    background-color: var(--secondary-color);
    transition: all 0.5s ease;
}

nav a {
    padding: 10px;
    width: 100%;
    height: auto;
    text-align: center;
    color: var(--primary-color);
    font-size: var(--secondary-font-size);
    font-weight: var(--secondary-font-weight);
    letter-spacing: var(--secondary-letter-spacing);
    border-radius: var(--std-border-radius);
    transition: all 0.5s ease;
}

nav a:hover {
    color: var(--primary-color-hover);
    box-shadow: var(--std-box-shadow);
}

#navBtnCont {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
}

#navBtn {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 1s ease;
}

#navBtn:hover {
    justify-content: space-around;
}

.bar {
    width: 90%;
    height: 2px;
    background-color: var(--primary-color);
    border-radius: var(--std-border-radius);
}

#cartBtn {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin-right: 10px;
    position: relative;
    transition: all 0.5s ease;
}

#cartBtn:hover {
    transform: scale(1.1);
}

#cartCount {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.8);
    color: var(--font-p-color);
    font-weight: var(--font-p-weight);
    box-shadow: var(--std-box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    transition: all 0.5s ease;
}

#cartCount:hover {
    background-color: rgba(255, 0, 0, 1);
    font-weight: 800;
    color: var(--font-p-color-hover);
    box-shadow: var(--std-box-shadow-hover);
}




#cartCont {
    margin: 10px;
    width: 100%;
    height: 90%;
    max-width: 400px;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: var(--std-box-shadow);
    border-radius: var(--std-border-radius);
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}

#cartCont.show {
    transform: translateX(0);
}

#cartCont.slide-in {
    animation: slideIn 0.5s forwards;
}

#cartCont.slide-out {
    animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}


/* promo-section */
.promo-section {
    width: 98%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
}

.promo-card {
    min-width: 200px;
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    color: white;
    background-size: cover;
    background-position: center;
    border-radius: var(--std-border-radius);
    box-shadow: var(--std-box-shadow);
    transition: all 0.5s ease;
    cursor: pointer;
    background-repeat: no-repeat;
}

.promo-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--std-box-shadow-hover);
}

.promo-content {
    width: 100%;
    height: 100%;
    max-height: 300px;
    display: none;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border-radius: var(--std-border-radius);
    box-shadow: var(--std-box-shadow);
    transition: all 0.5s ease;
}

.promo-content p {
    color: white;
}

.promo-card img {
    width: 200px;
    height: 400px;
}


/* carrito */
#cartMenu {
    display: none;
    position: absolute;
    top: 10vh;
    width: 100%;
    height: 90vh;
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.514);
}

#cartCont {
    width: 100%;
    height: 90%;
    max-width: 600px;
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    background-color: #0051ff8c;
}

.cartHeader {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

/* cart burbuja de cantidad */
#cartCount {
    position: relative;
    top: -48px;
    right: -22px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.8);
    color: var(--font-p-color);
    font-weight: var(--font-p-weight);
    box-shadow: var(--std-box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    transition: all 0.5s ease;
}

#cartCount:hover {
    background-color: rgba(255, 0, 0, 1);
    font-weight: 800;
    color: var(--font-p-color-hover);
    box-shadow: var(--std-box-shadow-hover);
}

/* cart items */
.carrito {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: var(--std-box-shadow);
}

#cartList {
    width: 100%;
    max-width: 500px;
    height: 75%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
}

.cart-item {
    width: 90%;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: var(--std-borderRadius);
    box-shadow: var(--std-box-shadow);
    transition: all 0.5s ease;
}

.cart-item:hover {
    transform: translateY(-5px);
    box-shadow: var(--std-box-shadow-hover);
}

.cart-item .product-controls {
    width: 100px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: var(--std-borderRadius);
}

.cart-item-details {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

/* Botón de eliminar del carrito */
.remove-item {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.remove-item:hover {
    background-color: darkred;
}

/* Botón de vaciar carrito */
.btn-clear-cart {
    background-color: orange;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-clear-cart:hover {
    background-color: darkorange;
}
#secSearch{
    width: 98%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    border-radius: var(--std-border-radius);
    box-shadow: var(--std-box-shadow);
}
/* search */
#secSearch input {
    width: 100%;
    max-width: 400px;
    min-height: 30px;
    padding: 5px;
    border-radius: 10px;

    transition: all 0.5s ease;
}
#secSearch input:hover{
    border-color: var(--primary-color-hover);
    scale: 1.05;
}
/* usuario */
.usuario {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: var(--std-box-shadow);
}

/* completarPedido */
.completarPedido {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    overflow-y: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: var(--std-box-shadow);
}

.completarPedido h3, .completarPedido h4 {
    width: 100%;
    text-align: center;
    color: var(--primary-color);
}

.completarPedido ol {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--std-box-shadow);
}

.completarPedido ol li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.completarPedido ol li:last-child {
    border-bottom: none;
}

/* Botón de enviar pedido */
.btn-wp-order {
    background-color: #25d366;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}

.btn-wp-order:hover {
    background-color: #128c7e;
}

.btn-wp-order .icon {
    width: 20px;
    height: 20px;
}

/* Formularios */
form {
    width: 100%;
    max-width: 500px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: var(--std-border-radius);
    box-shadow: var(--std-box-shadow);
}

form label {
    display: block;
    font-weight: bold;
}

form input[type="text"],
form input[type="radio"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}
form input[type="text"]:focus,
form input[type="radio"]:focus {
    border-color: var(--primary-color);
    outline: none;
}
/* fieldset */
fieldset {
    width: 100%;
    max-width: 300px;
    border: 1px solid var(--std-border-color);
    border-radius: var(--std-border-radius);
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: var(--std-box-shadow);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

fieldset legend {
    font-size: var(--secondary-font-size);
    font-weight: var(--secondary-font-weight);
    color: var(--secondary-font-color);
    padding: 0 5px;
}

fieldset label {
    width: 100%;
    max-width: 150px;
    font-size: var(--font-p-size);
    font-weight: var(--font-p-weight);
    color: var(--font-p-color);
    margin-left: 5px;
}

fieldset input[type="radio"] {
    width: 50px;
}
/* Formulario de envío */
#envioForm {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: var(--std-box-shadow);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#envioForm label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#envioForm input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#envioForm input[type="text"]:focus {
    border-color: var(--primary-color);
    outline: none;
}

/* Botón de guardar datos de envío */
#saveDeliveryDataBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

#saveDeliveryDataBtn:hover {
    background-color: #45a049;
}

#saveDeliveryDataBtn:active {
    background-color: #3e8e41;
    transform: scale(0.98);
}

/* Estilos para el modal de versión de muestra */
.sample-modal-content {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sample-modal-message {
    width: 70%;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--std-box-shadow);
}

.sample-modal-footer {
    margin-top: 20px;
    color: #555;
}
.product-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product-controls .btn-restar {
    border: 2px solid green;
    border-radius: 15px 0px 0px 15px;
    padding: 12px;
    cursor: pointer;
}

.product-controls .btn-restar:hover {
    background-color: green;
    color: white;
}

.product-controls span {
    border: 2px solid green;
    padding: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
}

.product-controls .btn-sumar {
    border: 2px solid green;
    border-radius: 0px 15px 15px 0px;
    padding: 12px;
    cursor: pointer;
}

.product-controls .btn-sumar:hover {
    background-color: green;
    color: white;
}
/* footer */
footer {
    width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}

footer .firma {
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

footer p {
    color: #ccbaba;
}

footer .footerMid {
    width: 100%;
    max-width: 400px;
}

footer .ContIcons {
    width: 100%;
    max-width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

footer .ContIcons a {
    min-width: 110px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: var(--font-p-color);
    font-size: var(--font-p-size);
    font-weight: var(--font-p-weight);
    letter-spacing: var(--font-p-letter-spacing);
    border: 1px solid var(--std-border-color);
    border-radius: var(--std-border-radius);
    background: rgba(8, 58, 252, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(8, 58, 252, 0.29);
    transition: all 0.5s ease;
}

footer .ContIcons a:hover {
    color: var(--primary-color-hover);
    background: rgb(8, 106, 252);
    box-shadow: var(--std-box-shadow-hover);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(8, 58, 252, 0.29);
}

footer .ContIcons img {
    width: 25px;
    height: 25px;
}

/* mediaqueries tablet 968px */
@media (min-width: 768px) {}

/* mediaqueries desktop 1000px */
@media (min-width: 1024px) {
    nav {
        width: 80%;
        height: 90%;
        box-shadow: none;
        padding: 10px;
        position: static;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
        gap: 10px;
        background-color: var(--secondary-color);
    }

    nav a {
        width: auto;
    }

    #navBtn {
        display: none;
    }
}

/* animaciones */
.fx-active {
    display: flex;
    animation: SlideInTop 0.5s ease 0s 1 normal forwards;
    box-shadow: var(--std-box-shadow);
}

.fx-close {
    animation: SlideInBottom 0.5s ease 0s 1 normal forwards;
}

@keyframes SlideInTop {
    0% {
        opacity: 0;
        transform: translateY(-250px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes SlideInBottom {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-250px);
    }
}

/* styles generales */
.dnone {
    display: none;
}

.show {
    display: flex !important;
    transition: all 0.5s ease;
}

.btn {
    padding: 10px;
    border: 2px solid green;
    border-radius: var(--std-border-radius);
    background-color: var(--primary-color);
    box-shadow: var(--std-box-shadow);
    text-align: center;
    color: var(--font-p-color);
    font-size: var(--font-p-size);
    font-weight: var(--font-p-weight);
    letter-spacing: var(--font-p-letter-spacing);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: var(--primary-color-hover);
    color: var(--primary-font-color-hover);
    box-shadow: var(--std-box-shadow-hover);
}

.icon {
    width: 30px !important;
    height: 30px !important;
}

vercel-live-feedback {
    display: none !important;
}