/* company */
#secCompany {
    margin-top: 2vh;
    width: 95%;
    min-height: 30vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.socialNetworksList {
    width: 80%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1%;
}

.socialNetworksList li {
    padding: 5px;
    border-radius: 100%;
    box-shadow: var(--std-box-shadow);
}

.socialNetworksList li:hover {
    box-shadow: var(--std-box-shadow-hover);
}

.socialNetworksList img {
    width: 30px;
    height: 30px;
}

#companySocialNetworks {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1%;
}

#secCompany .companyDesc {
    width: 100%;
    border: 1px solid var(--std-border-color);
    border-radius: var(--std-border-radius);
    display: flex;
    flex-direction: column;
    gap: 1px;
    box-shadow: var(--std-box-shadow);
    transition: all 0.5s ease;
}

#secCompany .companyHeader {
    width: 100%;
    position: relative;
    top: -80px;

    padding-left: 50px;
    margin-top: 4px;
    text-align: center;

    background-color: #e0e0e0;
    box-shadow: var(--std-box-shadow);
    border-radius: 8px 8px 0px 0px;
}

#secCompany .companyLogo {
    width: 50px;
    height: 75px;
    position: relative;
    top: -50px;
    z-index: 1;
    background-color: var(--background-color);
    border: 2px solid var(--std-border-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

#secCompany .companyLogo:hover {
    border-color: var(--std-border-color-hover);
}

#secCompany .companyInfo {
    width: 100%;
    min-height: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

#secCompany .companyInfo p {
    width: auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: var(--secondary-color);
    font-size: var(--secondary-font-size);
    font-weight: var(--secondary-font-weight);
    letter-spacing: var(--secondary-letter-spacing);
    background-color: white;
    border-radius: var(--std-border-radius);
    box-shadow: var(--std-box-shadow);
    transition: all 0.5s ease;
}

#secCompany .companyInfo p:hover {
    box-shadow: var(--std-box-shadow-hover);
    color: var(--font-p-color-hover);
}

#secCompany .companyInfo a {
    padding: 2px;
    color: var(--secondary-color);
    font-size: var(--secondary-font-size);
    font-weight: var(--secondary-font-weight);
    letter-spacing: var(--secondary-letter-spacing);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: all 0.5s ease;
}

#secCompany .companyInfo a:hover {
    color: var(--font-p-color-hover);
}

#secCompany .companyActions {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1%;
}

/* Estilos para la tabla de horarios en el modal */
.horariosTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.horariosTable th, .horariosTable td {
    padding: 8px;
    text-align: center;
    border: 1px solid var(--std-borderColor);
}

.horariosTable th {
    background-color: var(--primary-color);
    color: white;
}

.horariosTable td {
    background-color: #f9f9f9;
}

.horariosTable tr:hover {
    background-color: #e0e0e0;
}

/* Estilos para la tabla de redes sociales en el modal */
.socialNetworksTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.socialNetworksTable th, .socialNetworksTable td {
    padding: 8px;
    text-align: center;
    border: 1px solid var(--std-borderColor);
}

.socialNetworksTable th {
    background-color: var(--primary-color);
    color: white;
}

.socialNetworksTable td {
    background-color: #f9f9f9;
}

.socialNetworksTable tr:hover {
    background-color: #e0e0e0;
}

/* Tarjetas de productos */
.product-card {
    width: 150px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #fff;
    padding-bottom: 25px;
    border-radius: 10px;
    box-shadow: var(--std-box-shadow);
    text-align: center;
    transition: all 0.5s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: var(--std-box-shadow-hover);
}

/* Imagen del producto */
.product-card img {
    width: 100%;
    height: 60%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}

.product-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.product-card p {
    color: var(--font-color-p);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-p);
    letter-spacing: var(--p-letter-spacing);
}

/* Precio del producto */
.product-card p:last-of-type {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--secondary-color);
}

.product-controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.product-controls .btn-restar {
    border: 2px solid green;
    border-radius: 15px 0px 0px 15px;
    padding: 12px;
    cursor: pointer;
}

.product-controls .btn-restar:hover {
    background-color: green;
    color: white;
}

.product-controls span {
    border: 2px solid green;
    padding: 10px;
    background-color: green;
    color: white;
    cursor: pointer;
}

.product-controls .btn-sumar {
    border: 2px solid green;
    border-radius: 0px 15px 15px 0px;
    padding: 12px;
    cursor: pointer;
}

.product-controls .btn-sumar:hover {
    background-color: green;
    color: white;
}